<h1>Conference Numbers</h1>

<table class="view">
<% @conference_numbers.each do |conference_number| %>
  <tr>
    <td class="heading"><%= conference_number.conference_number %></td>
    <td>
    	<%= link_to image_tag("textfield_rename.png", :alt => "Edit"),  
    		edit_conference_number_path(conference_number) %>
    </td>
    		
    <td>
    	<%= link_to image_tag("cross.png", :alt => "Delete"), 
    		conference_number, 
    		confirm: "Are you sure you want to delete #{conference_number.conference_number}?", 
    		method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conference Number', new_conference_number_path %>
