<p id="notice"><%= notice %></p>

<p>
  <b>Conference number:</b>
  <%= @conference_number.conference_number %>
</p>


<%= link_to 'Edit', edit_conference_number_path(@conference_number) %> |
<%= link_to 'Back', conference_numbers_path %>
