/*
 *= require_self
 *= require_tree .
*/

.flash {
	clear: both;
	padding: 5px;
	margin: 5px;
	color: white;
}

.success {	
	clear: both;
	background: green;	
}

.failure {	
	clear: both;
	background: red;
}

.pagination {
	text-align: center;	
}

.previous_page {color: black;}

.centre {
	text-align: center;
}

.main {
  clear: both;
  margin: 10px 5px;
}

h1 {
	color: #1159CF;
	font-size: 1.5em;
	padding-left: 10px;
}
