.form{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  
  .left {
    float: left;
    width: 49%;
    font-weight: bold;  
    text-align: right;
    line-height:2.2em;
  }
  
  .right {
    float: right; 
    width: 49%;    
  }
  
  .edit_label {
    margin-top: 5px; 
    line-height: 1.2em;
  }
 
  .edit_field {
    // line-height: 210%;
    // height: 1.3em;
    margin-top: 5px; 
  }
  
  // Not using 'edit_label' style at this stage
}