.banner {  
  background: #313D52;
  color: #B2BDCF;
  font-size: 2em;
  padding: 20px 10px;  
}

// Standard Navigation Menu
.nav { 
  background: #98bf21;
  height: 32px;
  margin: 5px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
  }
  
  li {
    float:left;
    margin-right: 8px;
  }
  
  a:link,a:visited {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px 4px;
    margin: 3px 0px;
    text-decoration: none;  
  }
  
  a:hover,a:active {
    background-color: #7A991A;
  }
  
  .nav_left, .nav_right {}

  .nav_left  {
    padding-left: 5px;
    float: left;  
  }

  .nav_right {    
    padding-right: 5px;
    float: right;
  }
}

// Admin Navigation
.admin_nav {  
  clear: both;
  height: 19px;
  background: orange;
  padding: 5px;   
  margin: 5px;  
  
  a:link,a:visited {
    font-weight: bold;
    color: #FFFFFF;
    
    text-decoration: none;
    padding: 4px;
  }
  
  a:hover,a:active {
    background-color: #F5650C;
  }
}

